<% provide(:title, @user.name) %>
<div>
  <aside>
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div>
    <%= render 'follow_form' if logged_in? %>
  </div>
</div>
