- @user ||= current_user
%span.stats
  %a{:href => "#{following_user_path(@user)}"}
    %strong#following.stat
      = @user.following.count
    フォロー中
  %a{:href => "#{followers_user_path(@user)}"}
    %strong#followers.stat
      = @user.followers.count
    フォロワー
:css
  .stats{
  font-size: 20px;
  }
