- provide(:title, '')
.box
  - if @proposes == "該当する結果は見つかりませんでした。"
    = @proposes
    = link_to "(前のページへ戻る)", :back
  - else
    %ul.proposes
      = render @proposes if @proposes
    .will_paginate
      = will_paginate @proposes if @proposes
