.propose_content{
	display: inline-block;
	float: left;
	text-align: center;
}

.fackoff{
	text-align: center;
	height: 50px;
}

.will_paginate{
	clear: both;
	text-align: center;
}

.user_image{
	border-radius: 90%;
	height: 50px;
	width:  50px;
	border: 1px solid #aaa;
}

.new_propose{
	margin-top: 20px;
}
