-# %body
-#   %header
-#     .container
-#       %header
-#         .subject
-#           = link_to "CurrencyEmergency", root_path
-#         %ul.navbar
-#           - if logged_in?
-#             %li= link_to "マイページ", current_user
-#             %li= link_to "ユーザー編集", edit_user_path(current_user)
-#             %li= link_to "ログアウト", logout_path, method: "delete"
-#             - if current_user.admin?
-#               %li= link_to "全ユーザー", users_path
-#           - else
-#             %li= link_to "ログイン", login_path
-#             %li= link_to "アカウント作成", signup_path
-#         .search_product
-#           = form_for(:propose, url: search_proposes_path, method: :get) do |f|
-#             = f.label :have_currency_id, "持っている通貨"
-#             = f.collection_select :have_currency_id, Currency.all, :id, :currency, :prompt => "通貨をお選びください。"
-#             = f.label :want_currency_id, "欲しい通貨"
-#             = f.collection_select :want_currency_id, Currency.all, :id, :currency, :prompt => "通貨をお選びください。"
-#             = f.submit "検索する。"
-#         .moji
-#           (どちらかに値を入力してください。)


%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} CurrencyEmergency
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "マイページ", current_user
        %li= link_to "ユーザー編集", edit_user_path(current_user)
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Dropdown
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} Action
            %li
              %a{:href => "#"} Another action
            %li
              %a{:href => "#"} Something else here
            %li.divider
            %li
              %a{:href => "#"} Separated link
            %li.divider
            %li
              %a{:href => "#"} One more separated link
      %form.navbar-form.navbar-left{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "Search", :type => "text"}/
        %button.btn.btn-default{:type => "submit"} Submit
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"} Link

